<header class="bg-gray-900 text-gray-100 text-center py-2" role="banner">
  <h1 class="font-heading text-base text-xl md:text-3xl">Nevada Caldwell</h1>
  <div class="header-meta">
    <p class="text-sm italic leading-tight md:text-base md:leading-normal">Actor - Improviser - Writer</p>
    <p class="text-sm leading-small md:text-base md:leading-normal md:-mt-1">SAG/AFTRA</p>
  </div>
</header>