<nav class="container mx-auto px-4 bg-white">
  <ul class="relative flex justify-between max-w-sm mx-auto font-heading">
    <li>
      <a class="block py-2 font-heading text-gray-darkest no-underline" href="#reel">Reel</a>
    </li>
    <li>
      <a class="inline-block py-2 font-heading text-gray-darkest no-underline" href="#clips">Clips</a>
    </li>
    <li>
      <a class="block py-2 font-heading text-gray-darkest no-underline" href="{{content.resume}}">Resume</a>
    </li>
  </ul>
</nav>