.photos {
  &__container {
    text-align: center;
    @extend %container;
  }
  &__item {
    padding: 1px;
    border: 1px solid #333;

    @include media($small-screen) {
      @include span-columns(6);
    }
    @include media($large-screen) {
      &:nth-child(1n) {
        @include span-columns(4);
        @include shift(1);
      }
      &:nth-child(2n) {
        @include span-columns(4);
        @include shift(2);
      }
    }
  }
}

.photo__new {
  @include media($large-screen) {
    width: 50%;
  }
}
