<section id="clips" class="clips">
  <h2>Clips</h2>
  <div class="clips__container">
    
    <div class="clip">
      <div class="vimeo vimeo--16x9">
        {% include vimeo.html id=26452268 %}
      </div>
    </div>

    <div class="clip">
      <div class="vimeo vimeo--16x9">
        {% include vimeo.html id=88281992 %}
      </div>
    </div>

    <div class="clip">
      <div class="vimeo vimeo--16x9">
        {% include vimeo.html id=121623039 %}
      </div>
    </div>

  </div>
</section>
