<section id="clips" class="clips-container py-4 md:py-8">
  {%- for clip in videos.clips -%}
  <article class="flex flex-col-reverse mb-4">
    <h1 class="text-base font-heading font-normal">{{clip.clipname}}</h1>
    <div class="clip">
      <a data-scroll data-vimeoid="{{clip.clipid}}" href="https://vimeo.com/{{clip.clipid}}">
        <img src="" class="cursor-pointer" />
      </a>
    </div>
  </article>
  {%- endfor -%}
</section>
