<footer class="footer">
  <div class="footer__container">
    <div class="footer__item footer__item--double">
      <h3 class="footer__heading">Representation</h3>
      <div class="footer__subitem">
        <p>NYC<br>
        Don Buchwald &amp; Associates<br>
        Katherine Ryan<br>
        212-634-8350
        </p>
      </div>
      <div class="footer__subitem">
        <p>Southeast US<br>
        Brevard Talent Group<br>
        Traci Danielle<br>
        407-841-7775
        </p>
      </div>
    </div>

    <div class="footer__item">
      <h3 class="footer__heading">Links</h3>
      <ul>
        <li>Resumé</li>
        <li>IMDB</li>
        <li>Actor's Green Room</li>
      </ul>
    </div>

    <div class="footer__item">
      <h3 class="footer__heading">Contact Info</h3>
      <a href="mailto:nevadacaldwell@gmail.com">nevadacaldwell@gmail.com</a>
    </div>
  </div>
</footer>
