<footer id="footer" class="footer">
  <div class="footer__container">
    <div class="footer__item footer__item--double">
      <h3 class="footer__heading">Representation</h3>
      <div class="footer__subitem">
        <p>NYC (Commercials)<br>
        Don Buchwald &amp; Associates<br>
        Katherine Ryan<br>
        212-634-8350
        </p>
      </div>
      <div class="footer__subitem">
        <p>Southeast US (Film/TV)<br>
        Brevard Talent Group<br>
        Traci Danielle<br>
        407-841-7775
        </p>
      </div>
    </div>

    <div class="footer__item">
      <h3 class="footer__heading">Links</h3>
      <ul>
        <li><a href="{{site.baseurl}}/assets/images/Nevada_Caldwell_Acting_Resume_2016.pdf">Resumé</a></li>
        <li><a href="http://www.imdb.me/nevadacaldwell">IMDB</a></li>
        <li>Actor's Green Room</li>
        <li><a href="http://resumes.actorsaccess.com/NevadaCaldwell">Actor's Access</a></li>
      </ul>
    </div>

    <div class="footer__item">
      <h3 class="footer__heading">Contact Info</h3>
      <a href="mailto:nevadacaldwell@gmail.com">nevadacaldwell@gmail.com</a>
    </div>
  </div>
</footer>
