<header class="header" role="banner">
  <h1 class="header__title">{{site.title}} <span class="header__subtitle">SAG/AFTRA</span></h1>
  <p class="header__info">Actor / Improviser / Writer</p>

  <nav class="header__nav">
    <ul class="nav">
      {% for item in site.data.nav %}
      <li class="nav__item"><a class="nav__link" href="{% if item.name == 'Resume' %}{{site.baseurl}}/assets/images/{{site.data.settings.resume}}{% endif %}{{item.url}}">{{item.name}}</a></li>
      {% endfor %}
    </ul>
  </nav>
</header>
