<nav class="container bg-white">
  <ul class="relative max-w-sm mx-auto list-reset font-heading">
    <li class="absolute pin-t pin-l">
      <a class="block py-2 font-heading text-gray-darkest no-underline" href="#reel">Reel</a>
    </li>
    <li class="text-center">
      <a class="inline-block py-2 font-heading text-gray-darkest no-underline" href="#clips">Clips</a>
    </li>
    <li class="absolute pin-t pin-r">
      <a class="block py-2 font-heading text-gray-darkest no-underline" href="/assets/pdf/{{settings.resume}}">Resume</a>
    </li>
  </ul>
</nav>
