.bio {

  &__blurb {
    margin-top: vr(1);
    
    font-family: $font__family--sans;
    text-align: center;

    @include respond-to(large) {
      lost-column: 8/12;
      lost-offset: 2/12;
    }

  }

}
