.vimeo {
  position: relative;

  height: 0;
  padding-bottom: 56.25%; // For ratio 16:9. 75% if ratio is 4:3

  overflow: hidden;

  &__item {
    @include position(absolute, 0 null null 0);
    @include size(100%);
  }

}
