.nav {

  &__item {
    display: inline;

    margin-right: vr(.25);
    width: auto;

    font-weight: 700;
    font-family: $font__family--sans;

    &:last-child {
      margin-right: 0;
    }

  }

  &__link {
    display: inline-block;

    padding: vr(.25);

  }
}
