.header {

  &__title {
    margin-bottom: 0;

    font-size: ms(3);
    text-align: center;

    @include respond-to(header) {
      float: left;
    }
  }

  &__subtitle {
    font-size: ms(-3);
  }

  &__info {
    font-family: $font__family--sans;
    text-align: center;

    @include respond-to(header) {
      float: right;

      margin-top: 18px;

      text-align: right;
    }
  }

  &__nav {
    clear: both;

    margin-top: vr(.5);
    margin-bottom: vr(.5);

    text-align: center;
  }

}
