.nav {

  &__item {
    font-weight: 700;
    font-family: $font__family--sans;
    display: inline;
    width: auto;
    margin-right: vr(.25);

    &:last-child {
      margin-right: 0;
    }

  }

  &__link {
    display: inline-block;

    padding: vr(.25);

  }
}
