.header {

  &__title {
    margin-bottom: 0;

    @include media($bp-header) {
      float: left;
    }
  }

  &__subtitle {
    font-size: modular-scale(-3);
  }

  &__info {
    font-family: $font__family--sans;
    text-align: center;

    @include media($bp-header) {
      float: right;

      margin-top: 18px;

      text-align: right;
    }
  }

  &__nav {
    clear: both;

    margin-bottom: em(20);

    text-align: center;
  }

}
