/*
 * BUGS
 * 1. Until the behavior noted at https://github.com/peterramsing/lost/issues/294
 * is fixed, I have to use an !important flag to reset margin-right on elements
 * that were offset at earlier breakpoints.
 */
.clip {
  margin-bottom: em(10);

  @include media($large-screen) {
    lost-column: 4/8 2;
  }

  @include media($xl-screen) {
    lost-column: 2/8 4;
  }

}
