.photos {

  &__item {
    padding: 1px;
    margin-bottom: vr(.5);
    border: 1px solid #333;

    @include respond-to(medium) {
      lost-column: 6/8;
      lost-offset: 1/8;
    }

    @include respond-to(large) {
      lost-column: 3/8;

      &:nth-child(2n) {
        lost-offset: 0/8;
      }

    }
  }
}
