$link-color: $color__primary
;
a {
  color: $link-color;
  text-decoration: none;

  transition: color $transition__duration--base $transition__timing--base;

  &:active,
  &:focus,
  &:hover {
    color: shade($link-color, 25%);
  }
}
