/* ==========================================================================
   #WRAPPER
   ========================================================================== */

/**
 * Page-level constraining and wrapping elements.
 *
 * These use Lost Grid as the codebase
 */

 // General
 $layout__max-width: 1024px;
 $layout__padding: em(10);

.o-wrapper {
  lost-center: $layout__max-width $layout__padding;
}
