/* ==========================================================================
   #BREAKPOINTS
   ========================================================================== */

/**
 * Breakpoint map.
 *
 * Define all breakpoints for the project here.
 * These will be used for :
 *   - media queries (Breakpoint)
 *   - responsive typography (Typi)
 *
 */
 $small-screen:  450px;
 $medium-screen: 550px;
 $bp-header:     675px;
 $large-screen:  720px;
 $xl-screen:     900px;
