.footer {
  background-color: #333;
  color: #eee;
  padding: em(25) 0;

  &__container {
    @extend %container;
  }

  &__item {
    @include media($medium-screen) {
      @include span-columns(3)
    }

    &--double {
      @include media($medium-screen) {
        @include span-columns(6)
      }
    }
  }
  &__subitem {
    @include media($medium-screen) {
      @include span-columns(3 of 6)      
    }
  }


  &__heading {
    font-size: modular-scale(0);
    font-weight: 700;
    text-align: left;
  }


}
