---
layout: default
---
<div class="flex flex-col h-screen">
  {%- include "header.njk" -%}
  {%- include "headshot.njk" -%}
  {%- include "menu.njk" -%}
</div>
<main class="container mx-auto px-4">
  {%- include "bio.njk" -%}
  {%- include "reel.njk" -%}
  {%- include "clips.njk" -%}
</main>
{%- include "footer.njk" -%}