<!DOCTYPE html>
<html lang="en">
{% include "head.njk" %}
<body class="font-base text-grey-darkest antialiased leading-normal">
  {{content | safe }}
  <script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
</body>
<script src="https://player.vimeo.com/api/player.js"></script>
<script src="assets/bundle.js"></script>
</html>
