<!DOCTYPE html>
<html lang="en">
{% include "head.njk" %}
<body class="font-base text-grey-darkest antialiased leading-normal">
  {{content | safe }}
</body>
<script src="https://player.vimeo.com/api/player.js"></script>
<script src="assets/bundle.js"></script>
</html>
